.carousel {
    margin-bottom: 27px;
    position: relative;
}

.imgMain {
    width: 560px;
    height: 476px;
    border-radius: 10px;
    object-fit: cover;
}

.imgSecondary {
    width: 94px;
    height: 94px;
    border-radius: 6px;
    object-fit: cover;
    margin-top: 12px;
}

.photoContainer {
    max-width: 560px;
    width: 100%;
    display: flex;
    gap: 12px;
    flex-wrap: nowrap;
    overflow: scroll;
}

.imgArrowRight {
    position: absolute;
    top: 226px;
    right: 16px;
}
.imgArrowLeft {
    position: absolute;
    top: 226px;
    left: 16px;
}

.productLabel {
    padding: 9px 12px;
    background: linear-gradient(
        102.87deg,
        #fceed5 6.43%,
        #fceed5 78.33%,
        #ffe7ba 104.24%
    );
    border-radius: 10px;
    display: flex;
    gap: 15px;
}

.labelParagraph {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--color-primary);
}

.productShare {
    max-width: 240px;
    padding: 6px 10px 8px;
    display: flex;
    gap: 21px;
}

.labelShare {
    color: var(--color-primary);
    margin-left: 8px;
}

.shareContainer {
    display: flex;
}

.iconsContainer {
    display: flex;
    align-items: center;
    gap: 18px;
}

.productShare {
    display: flex;
    align-items: center;
}
