.button {
    padding: 0 28px;
    border-radius: 57px;
    transition: background-color 0.3s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-sizing: border-box;
}

.button[data-variant='default'] {
    color: var(--color-neutral-0);
    background-color: var(--color-primary);
    border: none;
}

.button[data-variant='outline'] {
    color: var(--color-primary-dark);
    background-color: var(--color-neutral-0);
    border: 1.5px solid var(--color-primary-dark);
}

.button[data-size='L'] {
    height: 48px;
    min-width: 48px;
}

.button[data-size='M'] {
    height: 44px;
    min-width: 44px;
}

.button[data-icon='false'] {
    min-width: 163px;
}

.button[data-icononly='true'] {
    padding: 10px;
}

.button:disabled {
    pointer-events: none;
    background-color: var(--color-neutral-20);
    color: var(--color-neutral-60);
    outline: none;
    border: none;
}

.button:hover {
    color: var(--color-neutral-0);
    background-color: var(--color-primary-light);
    border: none;
    outline: none;
}

.button:focus {
    color: var(--color-neutral-0);
    background-color: var(--color-primary-medium);
}

.button:active {
    color: var(--color-neutral-0);
    background-color: var(--color-primary-dark);
    border: none;
    outline: none;
}
