.petSellers {
    margin: 100px 0 0;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.textContainer {
    display: flex;
    align-items: baseline;
    gap: 8px;
}

.subtitle {
    color: var(--color-neutral-100);
}

.title {
    text-transform: capitalize;
    color: var(--color-primary);
}

.logosBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnSmallDevice {
    display: none;
}

@media screen and (max-width: 1350px) {
    .headerContainer {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 900px) {
    .logosBar {
        flex-wrap: wrap;
        gap: 12px;
    }
}

@media screen and (max-width: 600px) {
    .logosBar {
        margin-bottom: 16px;
    }
    .btnSmallDevice {
        display: flex;
        margin: 0 auto;
        max-width: 382px;
        width: 100%;
    }
    .btn {
        display: none;
    }
}
