.cardsContainer {
    padding: 60px 0 0;
    background-color: var(--color-neutral-0);
    max-width: 1500px;
    margin: 0 auto;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.subtitle {
    color: var(--color-neutral-100);
}

.title {
    text-transform: capitalize;
    color: var(--color-primary);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.btnSmallDevice {
    display: none;
}

@media screen and (max-width: 1350px) {
    .cardsContainer {
        padding: 40px 0 0;
    }
    .headerContainer {
        margin-bottom: 20px;
    }
    .cards {
        gap: 12px;
    }
}

@media screen and (max-width: 600px) {
    .btnLargeDevice {
        display: none;
    }

    .btnSmallDevice {
        display: flex;
        margin: 0 auto;
        max-width: 382px;
        width: 100%;
    }
    .cards {
        margin-bottom: 16px;
    }
}
