.carousel {
    margin-bottom: 27px;
}

.imgContainer {
    position: relative;
    max-width: 560px;
}

.imgMain {
    width: 560px;
    height: 476px;
    border-radius: 10px;
    object-fit: cover;
}

.imgSecondary {
    width: 94px;
    height: 94px;
    border-radius: 6px;
    object-fit: cover;
    box-sizing: border-box;
    scroll-snap-align: start;
}

.imgSecondary[data-selected='true'] {
    border: 3px solid #f1d092;
}

.photosContainer {
    max-width: 560px;
    width: 100%;
    display: flex;
    gap: 12px;
    flex-wrap: nowrap;
    overflow: scroll;
    margin-top: 12px;
    box-sizing: border-box;
    scroll-snap-type: x mandatory;
}

.imgArrowRight {
    position: absolute;
    top: 226px;
    right: 16px;
    -webkit-tap-highlight-color: transparent;
}
.imgArrowLeft {
    position: absolute;
    top: 226px;
    left: 16px;
    -webkit-tap-highlight-color: transparent;
}

.imgInfoSmallDevice {
    position: absolute;
    top: 16px;
    right: 16px;
}

.imgArrowLeftSmallDevice {
    position: absolute;
    top: 16px;
    left: 16px;
}

@media screen and (max-width: 1050px) {
    .carousel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .photosContainer {
        max-width: unset;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .imgMain {
        width: 100dvw;
        border-radius: unset;
    }
    .photosContainer {
        gap: 9px;
        margin-left: 11px;
        width: calc(100dvw - 11px);
    }
    .imgSecondary {
        width: 68px;
        height: 68px;
    }
    .imgArrowRight {
        top: 50%;
    }
    .imgArrowLeft {
        top: 50%;
    }
}

@media screen and (max-width: 450px) {
    .photosContainer {
        justify-content: unset;
    }
}
