.card {
    max-width: 280px;
    width: 100%;
    background-color: #ffff;
    border-radius: 12px;
    padding: 8px 8px 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0px 4px 28px -2px #00000014;
    box-sizing: border-box;
}

.image {
    border-radius: 12px;
}

.paragraphInfo {
    color: var(--color-neutral-60);
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 8px 0;
}

.infoParagraphContainer {
    display: flex;
    gap: 6px;
}

.dot {
    position: relative;
    top: -3px;
    width: 18px;
    text-align: center;
}

.giftContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: var(--color-secondary-light);
    padding: 8px 12px;
    border-radius: 8px;
    margin-top: 6px;
}

@media screen and (max-width: 1350px) {
    .card {
        max-width: 185px;
        padding: 8px;
    }
    .infoParagraphContainer {
        flex-direction: column;
        gap: 4px;
    }
    .giftContainer {
        gap: 6px;
        padding: 6px;
    }
}
