.blueBanner {
    margin: 60px 0 0;
    padding: 64px 64px 56px;
    position: relative;
    background-color: var(--color-primary);
    display: flex;
    justify-content: end;
    border-radius: 20px;
    overflow: hidden;
}

.sloganContainer {
    max-width: 394px;
    text-align: right;
    z-index: 2;
}

.title {
    margin: 0 0 4px 0;
    font-family: 'Gilroy';
    font-size: 52px;
    font-weight: 800;
    color: var(--color-primary-dark);
    position: relative;
}

.subtitle {
    color: var(--color-primary-dark);
    margin: 0 0 8px 0;
}

.paragraph {
    color: var(--color-neutral-80);
    margin: 0;
}

.btnContainer {
    display: flex;
    margin: 24px 0 0 0;
    justify-content: end;
}

.buttonOutline {
    margin-right: 20px;
}

.imgYellowRectange {
    position: absolute;
    top: 0;
    right: 0;
}

.imgRectangleBlue {
    position: absolute;
    bottom: 0;
    left: 0;
}

.imgMain {
    position: absolute;
    bottom: 0;
    left: 20px;
    z-index: 3;
}

.imgYellowRectangeSmall {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.imgRectangleBlueSmall {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.imgMainSmall {
    z-index: 4;
}

@media screen and (max-width: 1350px) {
    .blueBanner {
        margin: 40px 0 0;
    }
}

@media screen and (max-width: 900px) {
    .blueBanner {
        padding: 24px 12px 0;
        flex-direction: column-reverse;
        gap: 24px;
    }
    .sloganContainer {
        text-align: center;
        margin: 0 auto;
    }
    .imgMain {
        position: static;
    }
    .btnContainer {
        margin: 32px 0 0 0;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 36px;
        font-weight: 800;
        margin: 0;
    }
    .subtitle {
        margin-bottom: 12px;
    }
    .btnContainer {
        margin-top: 32px;
    }
}
