.productDetailPage {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 130px;
}

.container {
    padding: 0;
}

.footerContainer {
    margin-top: 80px;
    padding: 0 130px;
    border-radius: 40px 40px 0 0;
    background: linear-gradient(
        102.87deg,
        #fceed5 6.43%,
        #fceed5 78.33%,
        #ffe7ba 104.24%
    );
}

@media screen and (max-width: 1350px) {
    .productDetailPage {
        padding: 0;
    }
    .container {
        padding: 0 16px;
    }
    .footerContainer {
        padding: 0 16px;
    }
}

@media screen and (max-width: 600px) {
    .footerContainer {
        margin-top: 60px;
    }
}
