.footer {
    padding: 80px 0 40px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    border-bottom: 1px solid #ccd1d2;
}

.linksContainer {
    display: flex;
    gap: 40px;
}

.iconsContainer {
    display: flex;
    gap: 40px;
}

.paragraph {
    color: var(--color-neutral-100);
}

.sectionTerms {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.termsContainer {
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 1350px) {
    .footer {
        padding: 40px 0 20px;
    }
}

@media screen and (max-width: 600px) {
    .navigation {
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
        gap: 20px;
    }
}

@media screen and (max-width: 400px) {
    .linksContainer {
        gap: 8px;
    }

    .iconsContainer {
        gap: 8px;
    }
}
