.categoryPage {
    padding: 0 130px;
}

.pathContainer {
    margin-top: 7px;
}

.container {
    display: flex;
    margin-top: 32px;
}

.footerContainer {
    padding: 0 130px;
    border-radius: 40px 40px 0 0;
    background: linear-gradient(
        102.87deg,
        #fceed5 6.43%,
        #fceed5 78.33%,
        #ffe7ba 104.24%
    );
}

@media screen and (max-width: 1350px) {
    .categoryPage {
        padding: 0 16px;
    }
    .pathContainer {
        margin-top: 12px;
    }
    .footerContainer {
        padding: 0 16px;
    }
}
