.sectionCustomer {
    margin: 44px 16px 46px;
    padding: 0 16px;
}

.header {
    margin-bottom: 12px;
}

.photos {
    display: flex;
    gap: 12px;
    flex-wrap: nowrap;
    overflow: scroll;
}

.img {
    width: 248px;
    height: 340px;
    border-radius: 10px;
    object-fit: cover;
}

.dotsContainer {
    margin-top: 24px;
    display: flex;
    gap: 6px;
    justify-content: center;
}

@media screen and (min-width: 1600px) {
    .photos {
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .sectionCustomer {
        margin: 44px 0 6px;
        padding: 0 0 0 17px;
    }
    .photos {
        gap: 14px;
    }
    .dotsContainer {
        margin-top: 18px;
        gap: 5px;
    }
    .header {
        margin-bottom: 16px;
    }
}
