.bannerContainer {
    background: linear-gradient(
        102.87deg,
        #fceed5 6.43%,
        #fceed5 78.33%,
        #ffe7ba 104.24%
    );
    padding: 0 130px;
    /* margin: 0 auto;
    width: 100%; */
}

.bannerContainer[data-variant='header'] {
    border-radius: 0 0 40px 40px;
}
.bannerContainer[data-variant='footer'] {
    border-radius: 40px 40px 0 0;
}

.container {
    padding: 0 130px;
    /* width: 100%; */
}

@media screen and (max-width: 1350px) {
    .bannerContainer {
        padding: 0 16px 0;
    }
    .container {
        padding: 0 16px;
    }
}

.imgRectangleYellowMediumTop {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100dvw;
}
